
.folder-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.folder-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.folder-view {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
