.sub-folder-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.sub-folder-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid red; */
}

.sub-folder-view {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid red; */
}
